{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block sidebar %}
{% include "inc/_sidebar.html" %}
{% endblock sidebar %}

{% block content %}

{% for i in object_list %}
<div class="card mb-3">
  <div class="card-header">
    <a href="{{ i.category.get_absolute_url }}">Категория: {{ i.category }}</a>
  </div>
  <div class="card-body">
    <div class="media">
      {% if i.photo %}
      <img src="{{ i.photo.url }}" alt="" width="350" class="mr-3">
      {% else %}
      <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="">
      {% endif %}
      <div class="media-body">
        <h5 class="card-title">{{ i.title }}</h5>
        <p class="card-text">{{ i.content|truncatewords:50 }}</p>
        <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more...</a>
      </div>
    </div>

  </div>
  <div class="card-footer text-muted">
    {{ i.created_at|date:"Y-m-d H:i" }}
  </div>
</div>
{% endfor %}

{% endblock content %}
